@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&family=Poppins:wght@300;400;600;700&display=swap');
$fuente_body:'Poppins', sans-serif;
$color_hover:#03e9f4;
$color_select:linear-gradient(0deg, transparent, #03e9f4);
$color_nav: #fff;
$color_formulario:linear-gradient(#141e30, #243b55);
$color_hero_fondo:radial-gradient( circle 590px at 8.2% 13.8%,  rgba(18,35,60,1) 0%, rgba(58, 56, 56, 0.816) 90% );